
	body{
	margin:0px;
	padding:0px;
	font-family: helvetica;
	}

	.menuspace{
	overflow: hidden;
  	background-color: rgb(50,50,50);
  	text-align: center;
  	height: 20px;
  	padding:10px;

	}

	.menu{
	overflow: hidden;
  	background-color: rgb(50,50,50);
  	width: 100%;
  	text-align: center;
  	height: 20px;
  	padding:10px;
  	position: fixed;
  	top: 0px;
    z-index: 100;

	}

	.menu li{
  	color: rgb(194,194,194);
  	width: 50px;
  	display: inline;
  	padding: 30px;  	
  	list-style: none;
  	font-size: 13px;


	
	}

	.menu li:hover{
		background-color:gray;

	}

	.menu a{
		color:white;
		text-decoration: none;
		
	}

@media only screen and (max-width: 900px) {
  	.menu {
    overflow: hidden;
    margin:0px;
    padding:0px;
    height:40px;
    z-index: 100;
}
	.menu li{
  	display: block;
  	width: 100%;
  	margin:0px;
  	padding: 10px;
    padding-left: 0px;

      }

  .menu li:hover{
    background-color: rgb(50,50,50);
  }

