#buttons{
    text-align: center;
    height: 100px;
}
.html{
	text-align: center;	
}
button{
		text-decoration: none;
		font-family: 'permanent marker', cursive;
		display: inline-block;
		border: none;
		border-radius: 10px;
		padding: 10px;
		color: white;
		font-size: 20px;
		width: 200px;
		height: 80px;
		outline: none;
		background-color: deeppink;
		margin-top: 30px;
	}
html{
	text-align: center;
	background-color: lightpink;
	padding-top: 30px;
	font-size: 25px;
}
button:hover{
	background-color: #e100ff;
}
.container{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
#display{
	height: 10px;
	color: red;
}

#display2{
	height: 10px;
	color: darkorchid;
}

#display3{
	height: 10px;
	color: purple;
}

#text{
	height: 500px;
}

span{
	font-family: fantasy;
}