
.container{
	position: absolute;
	top: 50%;
    left: 50%;
   	transform: translate(-50%, -50%);
}
#display{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    color: white;
}

html{
	text-align: center;
	background-color: hotpink;
	padding: 200px;
}

button{
	text-decoration: none;
	font-family: 'Kumbh Sans', sans-serif;
	display: inline-block;
	border: none;
	border-radius: 3px;
	padding:20px;
	color:#6500A7;
	font-size: 20px;
	width: 300px;
	outline: none;
	background-color: red;
}



button:hover{
	background-color: pink

}