.buttons{
    text-align: center;

}

.html{
	text-align: center;
	
}
button{
		text-decoration: none;
		font-family: 'Indie Flower', cursive;
		display: inline-block;
		border: none;
		border-radius: 10px;
		padding: 10px;
		color: #c63ffc;
		font-size: 20px;
		width: 200px;
		height: 100px;
		outline: none;
		background-color: #b1d3f9;
		margin-top: 50px;
	}

html{
	text-align: center;
	background-color: #f7afbb;
	padding: 20px;
	font-size: 60px;
	font-family: 'Amatic SC', cursive;
}

button:hover{
	background-color: #eefc92;
}